*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.header{
	background-color: #ececec;
	padding: 50px 0 30px;
}

.heading h1{
	/* color: orange; */
	font-weight: bold;
	font-size: 40px;
}

.heading h6{
	font-size: 18px;
	font-weight: 400px;
}

#searchBar{
	border-radius: 50px;
	cursor: pointer;
	background-color: #fbf8f8;
	margin:25px 0 ;
}

.btnsearch{
	list-style: none;
	padding-bottom: 25px;
}

.btnsearch li{
	display: inline;
	margin-right: 30px;
	text-align: center;
	/* max-width: 172px; */
	
}

.btnsearch li a{
	padding: 15px 45px;
	background-color: orange;
	border-radius: 40px;
	/* width: 100%; */
	display: inline-block;
}

.btnsearch li i{
	color: orange;
	font-size: 50px;
	font-weight: bold;
	/* display: inline-block; */
	cursor: pointer;
	position: relative;
	top: 15px;
}

.countryinfo{
	background-color: #fbf8f8;

}

.mycard img{
	height: 200px;
	width: 300px;
	object-fit: cover;
	box-shadow: 2px 11px 5px .8 ;
	/* border: 1px solid black; */
}

.card-body{
	width: 100%;
}
/* .text{
	overflow-y: auto;
	max-height: 100%;
} */
.card{
	width: 270px;
	height: 450px;
	overflow: hidden;
}

.mycard h1{
	color: orange;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	/* max-height: 20px; */

}

.list li{
	list-style: none;
	text-transform: capitalize;
}